@tailwind base;
@tailwind components;
@tailwind utilities;

.collapse {
    visibility: visible !important;
}

.cropper-preview, .picture-preview {
    max-width: 100px !important;
    width: 100px !important;
}
