@tailwind base;
@tailwind components;
@tailwind utilities;

.collapse {
    visibility: visible !important;
}

.cropper-preview, .picture-preview {
    max-width: 100px !important;
    width: 100px !important;
}

.ellipsis {
    text-overflow: ellipsis;
    max-width: 10px;

    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}

input[name='subject[color]'], input[name='must_subject[color]'] {
    width: 200px;
    height: 200px;
}
