@font-face {
    font-family: "CustomHelveticaNeue";
    src: url("../fonts/Helvetica Neue Condensed Bold.ttf");
}

@font-face {
    font-family: "CustomHeadingProRegular";
    src: url("../fonts/HeadingPro-Regular.ttf");
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: #2F327D;
    border-radius: 10px;
}

body {
    padding: 0;
    margin: 0;
    font-family: "CustomHelveticaNeue";
}

#thin-container {
    width: 627px;
    /*height: 894px;*/
    margin: 30px auto;
    background: #ffffff;
    border-radius: 26px;
    padding: 20px 60px;
}

#container {
    max-width: 1200px;
    height: 894px;
    margin: 65px auto;
    background: #ffffff;
    border-radius: 26px;
    padding: 20px 60px;
}

#lang_switcher {
    width: 100%;
    float: right;
}

#lang_switcher div > a {
    background: #FFDEB3;
    border-radius: 6px;
    margin-right: 5px;
    padding: 5px;
    color: #ffffff;
    text-decoration: none;
}

#lang_switcher div > a.active_lang {
    background: #FBA333;
}

#lang_switcher > a {
    background: #FBA333;
    border-radius: 6px;
    margin-right: 5px;
    padding: 5px;
    color: #ffffff;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #2F327D;
}

h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 35px;
}

h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
}

.secondary {
    color: #BFBFBF;
}

.big:hover, .small:hover {
    box-shadow: #b7b7b7 0 0 20px;
}

.subject-card>.big {
    max-width: 150px;
    border-radius: 15px;
}
.subject-card>.small {
    max-width: 120px;
    padding: 5px;
    border-radius: 15px;
    margin-top: 20px;
}

.subject-card {
    position: relative;
}
.subject-card .small div.subject {
    height: 100px;
    width: 100px;
}
.subject-card .big div.subject {
    height: 115px;
    width: 115px;
}
.subject-card .big.violet {
    background: #545AE8;
    padding: 10px;
}
#math_knowledge {
    margin: 10px auto;
    background: #545AE8 url(../assets/math_knowledge.png) no-repeat center center / contain;
}
#reading {
    margin: 10px auto;
    height: 155px;
    background: #23BDEE url(../assets/reading.png) no-repeat center center / contain;
}
#kz_history {
    margin: 10px auto;
    height: 155px;
    background: #EDB021 url(../assets/kz_history.png) no-repeat center center / contain;
}
.subject-card .blue {
    background: #23BDEE;
}
.subject-card .yellow {
    background: #EDB021;
}
.subject-card .pink {
    background: #F25471;
}
.checksign {
    position: absolute;
    left: 40px;
    top: 120px;
    width: 40px;
    height: 40px;
    background: url(../assets/checksign.png) no-repeat center center / contain;
}

.main_subject_label {
    position: relative;
    top: -20px;
    width: 150px;
}

.main_subject_label h4 {
    text-align: center;
    color: #737373;
}

.profile_subject_label h4 {
    margin-top: 10px;
    text-align: center;
    color: #737373;
}

#steps {
    border-right: 2px solid #545AE8;
    height: 100%;
    overflow-y: scroll;
}

#container > .row {
    height: 100%;
}

#container h3 {
    margin: 0;
}


#container ol li {
    height: 70px;
    width: 70px;
    background: #CAD5DD;
    border-radius: 50%;
    border: 4px solid rgba(47, 50, 125, 0.3);
    padding-top: calc(70px / 2 - 20px);
    margin-bottom: 10px;

    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;

    color: #9CA4C0;
    text-align: center;
}

#container ol li:hover {
    background: #545AE8;
    border: 4px solid #545AE8;
    color: #ffffff;
}

ol li:hover::marker {
    color: #545AE8;
}

.subject_option {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #CAD5DD url(../assets/test/physics.png) no-repeat center center / contain;
}
.subject_option_parent {
    width: 120px;
    height: 120px;
    padding: 10px;
    background: #CAD5DD;
    border-radius: 50%;
    margin: 20px;
}

.subject_option_parent h4 {
    margin-top: 10px;
    text-align: center;
    color: #CAD5DD;
}





.subject_option_parent.active_option .subject_option {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #2F8C51 url(../assets/test/physics.png) no-repeat center center / contain;
}
.subject_option_parent.active_option {
    width: 120px;
    height: 120px;
    padding: 10px;
    background: #2F8C51;
    border-radius: 50%;
    margin: 20px;
}

.subject_option_parent.active_option h4 {
    margin-top: 10px;
    text-align: center;
    color: #2F8C51;
}

.custom-label {
    font-size: 20px;
    color: #2F327D;
    font-weight: 700;
}

.custom-input {
    background-color: #CAD5DD;
    padding: 14px;
    margin-top: 10px;
}
.custom-input::placeholder {
    font-size: 20px;
    color: #2F327D;
    opacity: 30%;
    font-weight: 700;
}

.golden-text {
    color: #EDB021;
    font-size: 20px;
}

.login-btn {
    background-color: #EDB021;
}
.login-btn:hover {
    background-color: #c9900a;
}

.info-cards .col {
    border: 2px solid #A0B5C2;
    color: #A0B5C2;
    padding: 16px;
}
.info-cards .info-title {
    font-size: 25px;
}
.info-cards .digit {
    line-height: 121px;
    font-size: 100px;
}

.test-page > .row > .col-sm-1 {
    width: 15% !important;
}

.test-page ::-webkit-scrollbar {
    width: 7px;
}

.test-page ::-webkit-scrollbar-thumb {
    background: rgb(84, 90, 232);
    border-radius: 4px;
}

#subjects .main {
    grid-area: main;
    padding: 0;
    overflow-x: scroll;
    overflow-y: hidden;
}

#subjects .items {
    position: relative;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    user-select: none;
    cursor: pointer;
}

#subjects .item {
    display: inline-block;
}

#subjects ::-webkit-scrollbar {
    display: none;
}

#subjects .item img {
    max-width: 100px;
    max-height: 100px;
}


/* The container */
.custom-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.custom-checkbox input {
    display: none;
    opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 110px;
    left: -12px;
    background-color: #eee;
    height: 50px;
    width: 50px;
    border-radius: 45px;
    border: 2px solid #fff;
    display: none;
}

.little-checkmark {
    position: absolute;
    top: 65px;
    left: -12px;
    background-color: #eee;
    height: 40px;
    width: 40px;
    border-radius: 45px;
    border: 2px solid #fff;
    display: none;
}

/* When the checkbox is checked, add a blue background */
.custom-checkbox input:checked ~ .checkmark, .custom-checkbox input:checked ~ .little-checkmark {
    background-color: #0080C2;
    display: block;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after, .little-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.custom-checkbox input:checked ~ .checkmark:after, .custom-checkbox input:checked ~ .little-checkmark:after  {
    display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox .checkmark:after {
    width: 11px;
    height: 23px;
    margin-left: 18px;
    margin-top: 9px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-checkbox .little-checkmark:after {
    width: 8px;
    height: 18px;
    margin-left: 15px;
    margin-top: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#test-finish .btns {
    text-decoration: none;
    font-family: "CustomHeadingProRegular";
    justify-content: center;
    text-align: center;
    line-height: 110%;
    border: 0;
    border-radius: 25px;
    font-size: 30px;
    color: #fff;
    padding-left: 60px;
    padding-right: 60px;
    height: 100px;
    width: 270px;
    background-color: #EDB021;
}

#test-finish .btns:hover {
    font-family: "CustomHeadingProRegular";
    background-color: #c9900a;
}

#test-finish ul {
    font-family: "CustomHeadingProRegular";
    list-style-type: none;
    padding: 0 30px 0 0;
    border-right: 2px solid #000;
}

#test-finish ul li {
    font-size: 35px;
    margin-bottom: 10px;
}

#test-finish .results {
    padding-left: 130px;
}

#test-finish .results-title {
    font-family: "CustomHeadingProRegular";
    font-size: 35px;
}

#questionNumbersSection {
    border-right: 4px solid #A0B5C2;
    width: 13% !important;
}

#questionNumbersTab {
    padding: 10px 0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    height: 1000px;
    overflow: auto;
}

#questionNumbersTab span {
    width: 60px;
    top: 7px;
    left: -70px;
    color: #9CA4C0;
}

#questionNumbersTab button {
    background-color: #CAD5DD;
    width: 45px;
    height: 45px;
    border: 4px solid rgba(47, 50, 125, 0.3);
    border-radius: 90px;
}

#questionNumbersTab button:hover {
    background-color: #bac4cb;
}

#questionNumbersTab button.active {
    border: 4px solid #33a94f;
    box-shadow: -0.1px -0.1px 9px 0.4px #33a94f !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#questionNumbersTab::-webkit-scrollbar {
    display: none;
}

#subjectsTab {
    color: #CAD5DD;
    border-bottom: 4px solid #A0B5C2;
}

#subjectsTab button {
    background-color: #CAD5DD;
    width: 115px;
    height: 115px;
    border: 0;
    border-radius: 90px;
    padding: 15px;
}

#subjectsTab button:hover {
    background-color: #bec8d0;
}

#subjectsTab p {
    line-height: 100%;
    font-size: 20px;
}

#subjectsTab .active, #subjectsTab .active:hover {
    background-color: #2F8C51;
}

#questionContentSection .options {
    list-style-type: none;
}

#questionContentSection .options label {
    display: block;
    background-color: #F3F7F9;
    color: #A0B5C2;
    margin: 5px 0px 5px 30px;
    border: 1px solid #A0B5C2;
    font-size: 30px;
    position: relative;
    height: 80px;
    line-height: 260%;
}

#questionContentSection .options label:hover {
    cursor: pointer;
    box-shadow: 1px 1px 8px rgba(86, 86, 86, 0.5);
}

.options input {
    display: none;
    opacity: 0;
}

.option-text {
    margin-left: 146px;
}

/* Create a custom checkbox */
.option-checkmark {
    position: absolute;
    border-right: 1px solid #A0B5C2;
    background-color: #A0B5C2;
    height: 100%;
    width: 100px;
    display: block;
    text-align: center;
    color: #fff;
}

/* When the checkbox is checked, add a blue background */
.options input:checked ~ .option-checkmark {
    background-color: #68DA78;
    display: block;
}

.next-question {
    width: 170px;
}

.next-question p {
    font-size: 55px;
    color: #2DAAFC;
    margin: 0;
    padding: 0;
}

.next-question button {
    background-color: #2DAAFC;
    padding: 5px;
    font-size: 25px;
    color: #fff;
    border: 0;
    line-height: 30px;
    border-radius: 15px;
}

.next-question button:hover {
    background-color: #2695e0;
}

.question-complete-tab {
    background-color: #5beb7b !important;
    box-shadow: none !important;
}

#analyticsPage .subjects-section {
    height: 440px;
    margin-top: 22px;
}

#analyticsPage .analytics-title {
    margin-bottom: 0;
    background-color: #A0B5C2;
    color: #fff;
    padding: 4px 18px;
    border-radius: 20px;
    font-size: 45px;
}

#analyticsPage .subjects-section > div.left-side {
    background-color: rgba(160, 181, 194, 0.5);
    width: 550px;
    margin-right: 44px;
    border-radius: 20px;
}

#analyticsPage ul.analytics-subjects {
    list-style-type: none;
    padding: 0 18px 22px 18px;
    height: 360px;
    overflow: scroll;
}

#analyticsPage ul.analytics-subjects li {
    font-size: 35px;
    margin: 12px 0;
}

#analyticsPage ul.analytics-subjects li a {
    color: #fff;
    text-decoration: none;
}

#analyticsPage ::-webkit-scrollbar {
    display: none;
}

#analyticsPage ::-webkit-scrollbar-thumb {
    display: none;
}

#analyticsPage .subjects-section > div.right-side {
    background-color: rgba(160, 181, 194, 0.5);
    border-radius: 20px;
    width: 710px;
}

#profilePage .profile-title {
    background: #FBA333;
    border-radius: 7px;
    color: #fff;
    font-size: 25px;
}

#profilePage .profile-text {
    font-size: 25px;
    color: #2F327D;
}
