@font-face {
    font-family: "CustomHelveticaNeue";
    src: url("../fonts/Helvetica Neue Condensed Bold.ttf");
}

body {
    padding: 0;
    margin: 0;
    background: #555555;
    font-family: "CustomHelveticaNeue";
}

#thin-container {
    width: 627px;
    height: 894px;
    margin: 65px auto;
    background: #ffffff;
    border-radius: 26px;
    padding: 20px 60px;
}

#container {
    max-width: 1200px;
    height: 894px;
    margin: 65px auto;
    background: #ffffff;
    border-radius: 26px;
    padding: 20px 60px;
}

#lang_switcher {
    width: 100%;
    float: right;
}

#lang_switcher a {
    background: #FFDEB3;
    border-radius: 6px;
    margin-right: 5px;
    padding: 5px;
    color: #ffffff;
    text-decoration: none;
}

#lang_switcher a.active_lang {
    background: #FBA333;
}

h1, h2, h3, h4, h5, h6 {
    color: #2F327D;
}

h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 35px;
}

h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
}

.secondary {
    color: #BFBFBF;
}

.big:hover, .small:hover {
    box-shadow: #b7b7b7 0 0 20px;
}

.subject-card>.big {
    max-width: 150px;
    border-radius: 15px;
}
.subject-card>.small {
    max-width: 120px;
    padding: 5px;
    border-radius: 15px;
    margin-top: 20px;
}

.subject-card {
    position: relative;
}
.subject-card .small div.subject {
    height: 100px;
    width: 100px;
}
.subject-card .big div.subject {
    height: 115px;
    width: 115px;
}
.subject-card .big.violet {
    background: #545AE8;
    padding: 10px;
}
#math_knowledge {
    margin: 10px auto;
    background: #545AE8 url(../assets/math_knowledge.png) no-repeat center center / contain;
}
#reading {
    margin: 10px auto;
    height: 155px;
    background: #23BDEE url(../assets/reading.png) no-repeat center center / contain;
}
#kz_history {
    margin: 10px auto;
    height: 155px;
    background: #EDB021 url(../assets/kz_history.png) no-repeat center center / contain;
}
.subject-card .blue {
    background: #23BDEE;
}
.subject-card .yellow {
    background: #EDB021;
}
.subject-card .pink {
    background: #F25471;
}
.checksign {
    position: absolute;
    left: 40px;
    top: 120px;
    width: 40px;
    height: 40px;
    background: url(../assets/checksign.png) no-repeat center center / contain;
}

.main_subject_label {
    position: relative;
    top: -20px;
    width: 150px;
}

.main_subject_label h4 {
    text-align: center;
    color: #737373;
}

.profile_subject_label h4 {
    margin-top: 10px;
    text-align: center;
    color: #737373;
}

#steps {
    border-right: 2px solid #545AE8;
    height: 100%;
    overflow-y: scroll;
}

#container > .row {
    height: 100%;
}

#container h3 {
    margin: 0;
}


#container ol li {
    height: 70px;
    width: 70px;
    background: #CAD5DD;
    border-radius: 50%;
    border: 4px solid rgba(47, 50, 125, 0.3);
    padding-top: calc(70px / 2 - 20px);
    margin-bottom: 10px;

    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;

    color: #9CA4C0;
    text-align: center;
}

#container ol li:hover {
    background: #545AE8;
    border: 4px solid #545AE8;
    color: #ffffff;
}

ol li:hover::marker {
    color: #545AE8;
}

.active_text {
    color: #5BEB7B;
}

.subject_option {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #CAD5DD url(../assets/test/physics.png) no-repeat center center / contain;
}
.subject_option_parent {
    width: 120px;
    height: 120px;
    padding: 10px;
    background: #CAD5DD;
    border-radius: 50%;
    margin: 20px;
}

.subject_option_parent h4 {
    margin-top: 10px;
    text-align: center;
    color: #CAD5DD;
}





.subject_option_parent.active_option .subject_option {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #2F8C51 url(../assets/test/physics.png) no-repeat center center / contain;
}
.subject_option_parent.active_option {
    width: 120px;
    height: 120px;
    padding: 10px;
    background: #2F8C51;
    border-radius: 50%;
    margin: 20px;
}

.subject_option_parent.active_option h4 {
    margin-top: 10px;
    text-align: center;
    color: #2F8C51;
}

.login-label {
    font-size: 20px;
    color: #2F327D;
    font-weight: 700;
}

.login-input {
    background-color: #CAD5DD;
    padding: 14px;
    margin-top: 10px;
}
.login-input::placeholder {
    font-size: 20px;
    color: #2F327D;
    opacity: 30%;
    font-weight: 700;
}
